<%- include('partials/header') %>
    
   <%- include('partials/header') %>
   
   <%- include('partials/nav') %> 

   <main id="list-home">
        <form action="/add-item" method="POST">
             <input type="text" name="item" id="" placeholder="Enter item to buy" required>
            <input type="submit" value="+ Add Item">
        </form>
        <div id="list">

            <% list.forEach(item => { %>

                <div class="item">
                    <p> <%= item.item %> </p>
                    <div id="btns">
                        <a href="/edit/<%= item.id %>" id="edit">Edit</a> 
                        <a href="/delete/<%= item.id %>" id="delete">Delete</a>
                    </div>
                </div>

            <% }) %>

        </div>
   </main>

<%- include('partials/footer') %>