<%- include('partials/header') %>
    
    <h1> <%= title %> Page</h1>
    
    <!-- creating variable-->
    <% let name = 'Dickson Kiptoo' %>

    <!-- display output -->
    <%= `Dickson Kiptoo has ${name.length} characters` %>

    <ol>
        <% for(let item of list){ %>
            <li><%= item %></li>    
        <% } %>
    </ol>

    <!-- conditional branching -->
    <% let error = false %>

    <% if(error) { %>
        <p>there is an error</p>
    <% } else { %>
        <p>there is no error</p>
    <% }%>

<%- include('partials/footer') %>